version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 10
    groups:
      next:
        patterns:
          - "next"
          - "@next/*"
          - "react"
          - "react-dom"
      tailwind:
        patterns:
          - "tailwindcss"
          - "@tailwindcss/*"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "monthly"
